:root {
    --gray: #394a51;
    --green: #7fa99b;
    --yellow: #fbf2d5;
    --orange: #fdc57b;
}

@font-face {
    font-family: "Lora";
    src: url("/assets/Lora-Regular.ttf");
}

body {
    background: linear-gradient(145deg, var(--gray), var(--green));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    color: var(--yellow);
    font-family: "Lora", serif;
}

img {
    object-fit: cover;
}

header {
    padding: 20px;
    position: fixed;
    width: calc(100% - 40px);
    top: 0;
    left: 0;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: unset;
            text-decoration: none;
            font-size: 1.2rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.full {
    min-height: calc(100vh - 40px);
}

section:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h1 {
        margin: 0;
        font-size: 4rem;
    }
}

section:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    .scroll-texts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        overflow-x: hidden;
    }

    p {
        margin: 0 20px;
        font-size: 1.2rem;
    }

    .right-text {
        text-align: right;
    }

    .image {
        padding: 20px;

        img {
            border-radius: 5px;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        }
    }
}

section:nth-child(3) {
    .lines {
        display: flex;
        flex-direction: column;
        gap: 2px;
        overflow-x: hidden;

        .line {
            display: flex;
            gap: 2px;

            img {
                height: var(--scrolling-image-height);
            }

            &:nth-child(odd) {
                transform: translateX(var(--scroll-odd));
                justify-content: flex-end;
            }

            &:nth-child(even) {
                transform: translateX(var(--scroll-even));
            }
        }
    }
}

section:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    a {
        font-size: 4rem;
        color: var(--orange);
    }
}
