---
import Layout from '../layouts/Layout.astro';
---

<Layout title='prices' image='/venice/VFL06370.webp'>
    1 night: From 150€ to 240€, based on the current season (taxes not included)
    <br /><br />
    Minimum: 3 nights
    <br />
    Max: 7 nights
    <br /><br />
    Cleaning: 50€ Daily tax not included (Credit card and Bancomat accepted)
    <br /><br />
    <p class='compare'>
        Compare prices with booking, save money <a
            href='https://plajhome.vacation-bookings.com/'>here</a
        >
    </p>
</Layout>

<style>
    a {
        color: unset;
    }

    .compare {
        font-size: 19px;
    }
</style>
