<div class='book'>
    <a href='https://plajhome.vacation-bookings.com/' class='book-a'>
        <div class='book-btn'>
            <i class='fa-solid fa-right-to-bracket'></i>
            <span>Book</span>
        </div>
    </a>
</div>

<style lang='scss'>
    .book {
        .book-a {
            text-decoration: none;
            color: unset;

            .book-btn {
                width: 150px;
                display: inline-flex;
                align-items: center;
                justify-content: space-around;
                color: white;
                background-color: #ff5a5f;
                gap: 10px;
                font-size: 40px;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.5);
                transition: scale 0.3s ease-in-out;

                &:hover {
                    scale: 1.1;
                }
            }
        }
    }
</style>
