<div class="nav">
	<a href="/">home</a>
	<a href="/about">about</a>
	<a href="/prices">prices</a>
	<a href="/contact">contact</a>
</div>

<style lang="scss">
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		a {
			color: unset;
			text-decoration: none;
			font-size: 20px;
		}
	}
</style>