<nav>
  <a href='/'>home</a>
  <a href='/about'>about</a>
  <a href='/contact'>contact</a>
</nav>

<style>
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;

    a {
      color: unset;
    }
  }
</style>
