<div class='prices'>
  <p>Compare prices with booking, save money</p>
  <a href='https://www.airbnb.it/rooms/700800607961930143' target='_blank'
    >Book here</a
  >
</div>

<style>
  .prices {
    p {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: unset;
      background-color: #925f4d;
      padding: 5px;
      border-radius: 4px;
      display: inline-block;
      transition-duration: 0.2s;

      &:hover {
        box-shadow: 2px 2px #52382f;
        transform: translate(-2px, -2px);
      }

      &:active {
        box-shadow: none;
        transform: none;
      }
    }
  }
</style>
