:root {
	--spinner-color: #000000;
}

body,
html {
	margin: 0;
	padding: 0;
}

@keyframes unoverflow {
	100% {
		overflow: unset;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	animation: unoverflow .2s linear 2.9s forwards;
}

@media (prefers-color-scheme: dark) {
	:root {
		--spinner-color: #ffffff;
	}

	body {
		background-color: #18181a;
		color: white;
	}
}
