---
interface Props {
  title: string;
}

const { title } = Astro.props;
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <!-- Primary Meta Tags -->
    <meta name='title' content='PlajHome' />
    <meta
      name='description'
      content='Luxury Open Space 11th floor 180° Venice view. Enjoy your holiday in Venice, live your confort.'
    />
    <meta
      name='keywords'
      content='Mestre, Venezia, Appartamento, PlajHome, appartamento venezia, venice bed and breakfast, venice apartment, venice hotel, venice booking, booking, airbnb, venice airbnb, airbnb venezia, airbnb venice, mestre airbnb, airbnb mestre'
    />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://plajhome.com' />
    <meta property='og:title' content='PlajHome' />
    <meta
      property='og:description'
      content='Luxury Open Space 11th floor 180° Venice view. Enjoy your holiday in Venice, live your confort.'
    />
    <meta property='og:image' content='/favicon.png' />

    <!-- Twitter -->
    <meta property='twitter:url' content='https://plajhome.com' />
    <meta property='twitter:title' content='PlajHome' />
    <meta
      property='twitter:description'
      content='Luxury Open Space 11th floor 180° Venice view. Enjoy your holiday in Venice, live your confort.'
    />
    <meta property='twitter:image' content='/favicon.png' />

    <!-- Meta Tags Generated with https://metatags.io -->
    <link
      rel='apple-touch-icon'
      sizes='57x57'
      href='/icons/apple-icon-57x57.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='60x60'
      href='/icons/apple-icon-60x60.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='72x72'
      href='/icons/apple-icon-72x72.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='76x76'
      href='/icons/apple-icon-76x76.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='114x114'
      href='/icons/apple-icon-114x114.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='120x120'
      href='/icons/apple-icon-120x120.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='144x144'
      href='/icons/apple-icon-144x144.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='152x152'
      href='/icons/apple-icon-152x152.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/icons/apple-icon-180x180.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='192x192'
      href='/icons/android-icon-192x192.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/icons/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='96x96'
      href='/icons/favicon-96x96.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/icons/favicon-16x16.png'
    />
    <meta name='theme-color' content='#94c4d3' />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  body {
    background-color: #94c4d3;
    font-family: 'Inter Variable', sans-serif;
    color: white;
    margin: 0;
  }

  * {
    margin: 0;
  }

  a {
    color: white;
    text-decoration: underline;
  }
</style>
